.edit-photo {
  margin-top: 16px;
  margin-bottom: 34px;
}

.edit-photo__photo-block {
  display: flex;
  background-color: $white;
  margin-bottom: 16px;
  padding: 24px 59px 24px 24px ;
  border-radius: 20px;
}

.edit-photo__download-zone {
  width: 168px;
  margin-left: 32px;
}

.edit-photo__photo-info {
  font-size: 14px;
  line-height: 21px;
  color: $grey1;
  margin-top: 0;
  margin-bottom: 8px;
}

.edit-photo__download {
  text-transform: uppercase;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $orange;
  width: 112px;
  height: 37px;
  border-radius: 34px;
  cursor: pointer;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.7;
    transition: 0.4s;
  }
}

.edit-photo__info-bonus {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
  color: $grey4;
  display: inline-block;
  background-color: $white;
  padding: 11px 11px 11px 51px;
  border-radius: 20px;
  transition: 0.4s;

  &:hover {
    opacity: 0.7;
    transition: 0.4s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 11px;
    background-image: url("../img/icons/pen.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}

.edit-photo__bonus-number {
  color: $brown;
}

@media (min-width: $pre-tabletW) {
  .edit-photo {
    padding: 0 48px;
  }

  .edit-photo__photo-block {
    margin-left: 0;
    margin-right: 0;
    padding: 18px 48px;
  }

  .edit-photo__download-zone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 452px;
  }

  .edit-photo__photo-info {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .edit-photo__info-bonus {
    font-size: 14px;
    line-height: 20px;
    width: 610px;

    &::before {
      top: 10px;
      left: 10px;
    }
  }
}

@media (min-width: $tabletW) {
  .edit-photo__download-zone {
    width: 738px;
  }

  .edit-photo__info-bonus {
    width: 866px;
  }
}
