.edit-profile {
  background-color: $white;
  margin-top: 117px;
  padding: 31px 24px 40px 24px;
  border-radius: 20px;
}

.edit-profile__intro-block {
  margin-bottom: 40px;
}

.edit-profile__go-back {
  display: block;
  background-image: url("../img/icons/arrow-back.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  transition: 0.4s;

  &:hover,
  &:focus {
    transform: scale(1.25);
    transition: 0.4s;
  }
}

.edit-profile__title {
  line-height: 29px;
  margin-top: 16px;
  margin-bottom: 0;
}

@media (min-width: $pre-tabletW) {
  .edit-profile {
    margin-left: 48px;
    margin-right: 48px;
    padding: 38px 48px 25px 48px;
  }

  .edit-profile__intro-block {
    display: flex;
    margin-bottom: 38px;
  }

  .edit-profile__go-back {
    width: 24px;
    height: 24px;
  }

  .edit-profile__title {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
    margin-left: 16px;
    margin-bottom: 0;
  }
}

@media (min-width: $tabletW) {
  .edit-profile {
    padding: 38px 199px 34px 33px;
  }
}
