.info-bonus {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
  color: $grey4;
  display: inline-block;
  background-color: $white;
  padding: 11px 11px 11px 51px;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 11px;
    background-image: url("../img/icons/pen.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
}

.info-bonus__bonus-number {
  color: $brown;
}
