.main-nav {
  position: fixed;
  display: flex;
  background-color: $white;
  left: 0;
  right: 0;
  height: 40px;
  padding: 12px 24px;
  z-index: 9;
}

.main-nav__logo {
  display: block;
  background-image: url("../img/logo-mini.svg");
  background-repeat: no-repeat;
  width: 43px;
  height: 40px;
}

.main-nav__nav-list {
  font-family: "Inter", "Arial", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: $white;
  height: 100vw;
  margin: 0;
  padding: 30px 0 0 0;
  list-style: none;
  transform: translateY(-150%);
  transition: 0.4s;
  z-index: 3;

  &--open {
    transform: translateY(64px);
    transition: 0.4s;
  }
}

.main-nav__nav-item {
  height: 20vw;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: $brown;
    width: 100%;
    height: 100%;
    transition: 0.4s;

    &:hover,
    &:focus {
      background-color: $orange;
      opacity: 0.8;
      transition: 0.4s;
    }
  }
}

.main-nav__profile-block {
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.main-nav__notifications {
  width: 22px;
  height: 24px;
  background-image: url("../img/icons/notification.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 0.1s;

  &:hover {
    animation-name: notificator;
    animation-duration: 0.6s;
    transition: 0.6s;
  }
}

.main-nav__profile-link {
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../img/mobile/profile-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/profile-icon@2x.png");
    background-size: contain;
  }
}

.main-nav__menu-button {
  width: 40px;
  height: 40px;
  background-image: url("../img/icons/menu-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: 1s;

  &:hover {
    transform: rotate(360deg);
    transition: 1s;
  }
}

@media (min-width: $pre-tabletW) {
  .main-nav {
    height: 32px;
    padding: 24px 48px;
  }

  .main-nav__logo {
    background-image: url("../img/logo-full.svg");
    width: 200px;
    height: 33px;
  }

  .main-nav__profile-block {
    width: 159px;
  }

  .main-nav__profile-link {
    background-image: url("../img/tablet/profile-icon.png");
    width: 48px;
    height: 48px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/profile-icon@2x.png");
      background-size: contain;
    }
  }

  .main-nav__menu-button {
    width: 48px;
    height: 48px;
  }
}
