.main-footer {
  background-color: $brown;
  padding: 35px 0;
}

.main-footer__footer-logo {
  display: block;
  width: 203px;
  height: 34px;
  background-image: url("../img/footer-logo.svg");
  background-repeat: no-repeat;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }
}

.main-footer__our-service {
  display: none;
}

.main-footer__our-info {
  display: none;
}

.main-footer__other-info {
  display: none;
}

.main-footer__contacts-block {
  font-family: "Inter", "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 35px;

  a {
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    color: $white;
  }
}

.main-footer__our-contacts {
  display: flex;
  flex-direction: column;

  a {
    transition: 0.4s;

    &:hover,
    &:focus {
      opacity: 0.6;
      transform: 0.4s;
    }
  }
}

.main-footer__number {
  display: inline-block;
  margin-bottom: 8px;
}

.main-footer__social-block {
  display: flex;
  column-gap: 8px;
  width: 232px;
  margin-top: 32px;
}

.main-footer__social-link {
  display: inline-block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }

  &--whatsapp {
    background-image: url("../img/icons/footer-whts.svg");
  }

  &--vkontakte {
    background-image: url("../img/icons/footer-vk.svg");
  }

  &--facebook {
    background-image: url("../img/icons/footer-fb.svg");
  }

  &--youtube {
    background-image: url("../img/icons/footer-ytb.svg");
  }

  &--telegram {
    background-image: url("../img/icons/footer-tlg.svg");
  }
}

.main-footer__copyright-block {
  font-family: "Inter", "Arial", sans-serif;
  color: $white2;
  margin-top: 28px;
  padding-top: 21px;
  border-top: 1px solid $grey7;
}

.main-footer__copyright {
  margin: 0;
}

.main-footer__all-right {
  margin: 10px 0;
}

.main-footer__confidentiality {
  text-decoration: none;
  color: $white2;
  border-bottom: 1px solid $white2;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }
}

.main-footer__made-by {
  display: block;
  width: 113px;
  height: 18px;
  background-image: url("../img/icons/flat12.svg");
  background-repeat: no-repeat;
  margin-top: 35px;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }
}

@media (min-width: $pre-tabletW) {
  .main-footer__main-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 37px;
    border-bottom: 1px solid $grey7;
  }

  .main-footer__our-service {
    display: flex;
    flex-direction: column;
  }

  .main-footer__our-info {
    display: flex;
    flex-direction: column;
  }

  .main-footer__other-info {
    display: flex;
    flex-direction: column;
  }

  .main-footer__footer-link {
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    color: $white;
    transition: 0.4s;

    &:not(:first-of-type) {
      margin-top: 22px;
    }

     &:hover,
     &:focus {
      opacity: 0.6;
      transition: 0.4s;
    }
  }

  .main-footer__contacts-block {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-footer__social-block {
    margin-top: 0;
  }

  .main-footer__copyright-block {
    display: flex;
    margin-top: 29px;
    padding-top: 19px;
  }

  .main-footer__copyright-info {
    display: flex;
    width: 539px;
  }

  .main-footer__all-right {
    margin: 0 15px 0 16px;
  }

  .main-footer__made-by {
    margin-top: 0;
    margin-left: auto;
  }
}
