.profile {
  margin-top: 64px;
}

.profile__basic-info {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.profile__intro-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile__description-block {
  margin-right: 42px;
}

.profile__my-name {
  font-size: 14px;
  line-height: 21px;
  color: $grey3;
  margin: 0;
}

.profile__my-status {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  margin: 5px 0 10px 0;
}

.profile__my-info {
  line-height: 15px;
  margin: 0;
  color: $grey3;
}

.profile__friends {
  margin-top: 27px;
  margin-bottom: 30px;
}

.profile__friends-title {
  font-size: 14px;
  line-height: 20px;
  color: $grey3;
  margin: 0;
}

.profile__all-friends {
  display: block;
  background-image: url("../img/mobile/friend-list.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 141px;
  height: 48px;
  margin-top: 8px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile/friend-list@2x.png");
    background-repeat: no-repeat;
  }
}

.profile__info-bonus {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  position: relative;
  color: $grey4;
  display: inline-block;
  background-color: $white;
  padding: 11px 11px 11px 51px;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 11px;
    background-image: url("../img/icons/pen.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
  }
}

.profile__bonus-number {
  color: $brown;
}

.profile__links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-bottom: 23px;
}

.profile__links-title {
  font-size: 14px;
  line-height: 20px;
  flex-basis: 100%;
  color: $grey3;
  margin-top: 0;
  margin-bottom: 11px;
}

.profile__link {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 15px;
  text-decoration: none;
  font-weight: 600;
  color: $brown;
  padding-left: 32px;
  transition: 0.4s;

  &:hover,
  &:focus {
    opacity: 0.6;
    transition: 0.4s;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }

  &--vkontakte {
    flex-basis: 45%;

    &::before {
      background-image: url("../img/icons/vk.svg");
    }
  }

  &--facebook {
    flex-basis: 35%;

    &::before {
      background-image: url("../img/icons/fb.svg");
    }
  }

  &--discord {
    margin-top: 15px;

    &::before {
      background-image: url("../img/icons/discord.svg");
    }
  }
}

@media (min-width: $pre-tabletW) {
  .profile {
    margin-top: 80px;
  }

  .profile__basic-info {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 36px;
    margin-bottom: 24px;
    padding-bottom: 32px;
    border-bottom: 1px solid $grey6;
  }

  .profile__intro-block {
    width: 305px;
  }

  .profile__my-photo {
    width: 114px;
    height: 114px;
  }

  .profile__description-block {
    margin-right: 0;
    margin-left: 32px;
  }

  .profile__my-status {
    font-size: 24px;
    line-height: 31px;
  }

  .profile__friends {
    align-self: flex-end;
    width: 193px;
    height: 68px;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .profile__all-friends {
    background-image: url("../img/tablet/friend-list.png");
    height: 40px;
    width: inherit;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/friend-list@2x.png");
      background-repeat: no-repeat;
    }
  }

  .profile__info-bonus {
    font-size: 14px;
    line-height: 20px;
    height: 22px;

    &::before {
      top: 10px;
      left: 10px;
    }
  }

  .profile__links {
    width: 457px;
    justify-content: space-between;
    margin-top: 28px;
    margin-bottom: 91px;
  }

  .profile__link {
    &--vkontakte {
      flex-basis: auto;
    }

    &--facebook {
      flex-basis: auto;
    }

    &--discord {
      margin-top: 0;
    }
  }
}

@media (min-width: $tabletW) {
  .profile {
    margin-top: 76px;
  }

  .profile__info-block {
    margin-bottom: 24px;
  }

  .profile__basic-info {
    justify-content: stretch;
    margin-bottom: 16px;
  }

  .profile__friends {
    margin-left: 166px;
    margin-bottom: 8px;
  }

  .profile__other-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile__links {
    margin-top: -13px;
    margin-bottom: 0;
  }

  .profile__links-title {
    margin-bottom: 8px;
  }
}

@media (min-width: $pre-desktopW) {
  .profile {
    width: 280px;
    margin-top: 32px;
    margin-left: 41px;
    order: 1;

    .container {
      width: inherit;
      padding: 0;
    }
  }

  .profile__info-block {
    display: flex;
    flex-direction: column;
    width: 280px;
  }

  .profile__basic-info {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  }

  .profile__intro-block {
    flex-direction: column;
  }

  .profile__description-block {
    margin-top: 16px;
    margin-left: 0;
  }

  .profile__friends {
    margin-top: 24px;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
  }

  .profile__other-info {
    flex-direction: column;
    margin-top: 24px;
  }

  .profile__info-bonus {
    height: 36px;
    padding-left: 50px;

    &::before {
      top: 13px;
      width: 32px;
      height: 32px;
    }
  }

  .profile__links {
    flex-direction: column;
    row-gap: 16px;
    width: 280px;
    margin-top: 24px;
  }
}
