.titles {
  background-color: $white;
  border-radius: 20px;
  margin-bottom: 43px;
  padding: 34px 24px;
  order: 1;
}

.titles__titles-info {
  position: relative;
}

.titles__title {
  font-size: 24px;
  line-height: 29px;
  margin-top: 0;
  margin-bottom: 4px;
}

.titles__my-points {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: $green;
  margin: 0;
}

.titles__points-history {
  line-height: 14px;
  text-decoration: none;
  color: $grey1;
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 22px;
  border-bottom: 1px solid $grey5;
  transition: 0.4s;

  &:hover {
    opacity: 0.6;
    transition: 0.4s;
  }
}

.titles__my-sale {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: $orange;
  width: 112px;
  position: relative;
  margin: 0;

  &:hover,
  &:focus {
    transition: 0.4s;

    & + .titles__sale-info {
      display: block;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -28px;
    background-image: url("../img/icons/quest.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }
}

.titles__sale-info {
  line-height: 14px;
  color: $white;
  width: 187px;
  height: 96px;
  display: none;
  position: absolute;
  top: -16px;
  left: 16px;
  background-color: $brown2;
  padding: 14px 18px 16px 18px;
  border-radius: 10px;
  z-index: 10;
  transition: 0.4s;

  span {
    font-family: "Inter", "Arial", sans-serif;
    color: $orange;
  }
}

.titles__sale-sum {
  color: $grey1;
  margin-top: 0;
  margin-bottom: 16px;
}

.titles__you-sale {
  font-weight: 600;
  margin: 0;

  span {
    margin-left: 34px;
  }
}

.titles__team-sale {
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 0;

  span {
    margin-left: 14px;
  }
}

.titles__titles-list {
  display: flex;
  column-gap: 8px;
  overflow-x: auto;
  margin: 0;
  padding: 40px 0 0 0;
  list-style: none;
}

.titles__titles-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 77px;
    width: 22px;
    height: 22px;
    background-image: url("../img/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $grey6;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 87px;
    right: -40px;
    background-color: $grey6;
    width: 70px;
    height: 2px;
  }

  &--wood {
    &::before {
      background-color: $brown;
    }

    &::after {
      background-color: $brown;
    }
  }

  &--iron {
    &::before {
      background-color: $brown;
    }

    .titles__titles-image {
      margin-top: -12px;
      z-index: 5;
    }

    .titles__titles-name {
      margin-top: 49px;
    }
  }

  &:last-of-type {
    &::after {
      display: none;
    }
  }
}

.titles__titles-name {
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 87px;
  margin-top: 53px;
  margin-bottom: 7px;
}

.titles__titles-points {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.titles__title-sale {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  color: $grey1;
}

.titles__level-bonus {
  line-height: 14px;
  font-weight: 600;
  color: $green;
  position: relative;
  display: block;
  background-color: $grey2;
  margin: 21px 0;
  padding: 12px 29px 12px 54px;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    left: 13px;
    width: 30px;
    height: 30px;
    background-image: url("../img/icons/bonus.svg");
    background-repeat: no-repeat;
  }
}

.titles__rating-info {
  line-height: 14px;
  text-decoration: none;
  color: $grey1;
  display: inline-block;
  border-bottom: 1px solid $grey5;
  transition: 0.4s;

  &:hover {
    opacity: 0.6;
    transition: 0.4s;
  }
}


@media (min-width: $pre-tabletW) {
  .titles {
    padding: 36px 24px 32px 24px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 47px;
  }

  .titles__main-info {
    display: flex;
    margin-bottom: 16px;
  }

  .titles__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 0;
  }

  .titles__my-points {
    align-self: center;
    margin-left: 15px;
  }

  .titles__points-history {
    display: inline-block;
    align-self: center;
    margin: 0;
    margin-left: auto;
  }

  .titles__sale-info {
    top: -95px;
    left: 25px;
  }

  .titles__level-bonus {
    width: 390px;
    padding: 13px 21px 13px 48px;

    &::before {
      top: 7px;
      left: 12px;
    }
  }
}

@media (min-width: $tabletW) {
  .titles {
    margin-bottom: 62px;
    padding: 36px 34px 50px 34px;
  }

  .titles__bonus-block {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }

  .titles__level-bonus {
    margin-top: 0;
    margin-bottom: 0;
  }

  .titles__rating-info {
    align-self: center;
  }
}
