@keyframes notificator {
  0% {
    transform: rotate(0deg);
    transition: 0.6s;
  }
  40% {
    transform: rotate(50deg);
    transition: 0.6s;
  }
  80% {
    transform: rotate(-50deg);
    transition: 0.6s;
  }
  100% {
    transform: rotate(0deg);
    transition: 0.6s;
  }
}
