//colors
$white: #ffffff;
$white2: rgba(255, 255, 255, 0.3);
$black: #000000;
$brown: #383636;
$brown2: rgba(56, 54, 54, 0.9);;
$grey1: #adadab;
$grey2: #f8f8f7;
$grey3: #b6b6b3;
$grey4: #a8a8a8;
$grey5: #eeeeee;
$grey6: rgba(233, 232, 229, 0.1);;
$green: #5b8388;
$orange: #e78346;

//widths
$over-desktopW: 1920px;
$desktopW: 1440px;
$pre-desktopW: 1280px;
$tabletW: 1024px;
$pre-tabletW: 768px;
