//colors
$white: #ffffff;
$black: #000000;
$brown: #383636;
$grey1: #adadab;
$grey2: #f8f8f7;
$grey3: #b6b6b3;
$grey4: #a8a8a8;
$green: #5b8388;

//widths
$over-desktopW: 1920px;
$desktopW: 1440px;
$pre-desktopW: 1280px;
$tabletW: 1024px;
$pre-tabletW: 768px;
